.content {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 13px;
}

.effect {
    box-shadow: rgb(245, 245, 245) 0px 0px 10px 0px;
    border: 1px solid #f5f5f5;


}

.effect:hover {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    border: none;
}

/* .effect {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -1px, 0);
    -webkit-transition: opacity .35s, -webkit-transform .35s;
    transition: opacity .35s, transform .35s;


}

.effect:hover {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0) scale(1.1, 1.1);
    -webkit-transition-delay: .15s;
    transition-delay: .15s;

} */

@keyframes slide {
    from {
        background-position-x: 0;
    }

    to {
        background-position-x: 112px;
    }


}




.barlow {
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.violet {
    background-color: hsl(263, 55%, 52%);
}

.gray-blue {
    background-color: hsl(217, 19%, 35%);
}

.black-blue {
    background-color: hsl(219, 29%, 14%);
}

.light-gray {
    color: hsl(0, 0%, 81%);
}

.gray {
    color: hsl(210, 46%, 95%)
}

.dark {
    color: hsl(217, 19%, 35%);
}

.verify {
    color: hsla(0, 0%, 81%, 0.5);
}

.verify-black {
    color: hsla(217, 19%, 35%, 0.5);

}

.review {
    color: hsla(0, 0%, 81%, 0.7);
}

.review-black {
    color: hsl(217, 19%, 35%, 0.7);
}

.rim {
    background-color: hsla(0, 0%, 81%, 0.5);
}

.text {
    padding-inline-end: 1px;
}

.background-blue {
    background-color: hsl(210, 46%, 95%);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}